<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.user.traefik.autostart</string>
		<key>Program</key>
		<string>/Users/hollodotme/traefik/autostart.sh</string>
		<key>RunAtLoad</key>
		<true/>
		<key>StandardErrorPath</key>
  		<string>/Users/hollodotme/Library/Logs/traefik.autostart.log</string>
  		<key>StandardOutPath</key>
  		<string>/Users/hollodotme/Library/Logs/traefik.autostart.log</string>
  		<key>WorkingDirectory</key>
  		<string>/Users/hollodotme/traefik</string>
	</dict>
</plist>
